html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto; /* Allow vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS devices */
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight:700;
}
.bi-plus-circle{
    cursor: pointer;
}
.gradient{
    background: linear-gradient(to right, #8e44ad, #cd89ea); /* Vibrant purple to orange-red gradient */
    -webkit-background-clip: text; /* Clips background to the text */
    -webkit-text-fill-color: transparent; /* Makes the text itself transparent to reveal the gradient */
    font-weight: bold; /* Optional: Bold text for more vibrancy */
    display: inline-block; /* Ensures proper rendering of the gradient */
}
.nav-skinny {
    width: 35px;
    background-color: #343a40;
    color: white;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    z-index:9;
}
.nav-skinny a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.nav-skinny a.active {
    background-color: #495057;
}
.nav-skinny a:hover {
    background-color: #495057;
}
#home_icon{
    background-color:#343a40 !important;
}
/* Initial flash animation */
.flash {
    animation: flash-bg 2s ease-in-out infinite;
}

/* Keyframes for the flashing effect */
@keyframes flash-bg {
    0%, 100% {
        background-color: #343a40; /* Original background color */
    }
    50% {
        background-color: #8e44ad; /* Vibrant purple flash */
    }
}

/* General styles for the icon */
.icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Stop flashing */
.clicked {
    animation: none;
    background-color: #343a40; /* Return to original color */
}
.expanded-nav {
    width: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #495057;
    color: white;
    position: fixed;
    top: 0;
    left: 34px;
    height: 100%;
    transition: width 0.3s ease;
    z-index:10;
}
.expanded-nav.open {
    width: 300px;
}
.expanded-nav p{
    font-size:.8em !important;
    color:#adb5bd;
}
#chatPanel{
    padding:50px 0 50px 0;
}
.chat-title{
    position:absolute;
    top:0;
    background-color: #495057;
    display: block;
}
.card-footer{
    position:absolute;
    bottom:0;
    background-color: #495057
}
.main-content {
    flex-grow: 1;
    padding: 20px 20px 20px 55px;
    overflow: auto; /* Enable scrolling in this section */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
    position: relative;
    z-index:0;
}
.upload-area {
    border: 2px dashed #6c757d;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #adb5bd;
    background-color: #343a40;
}
.upload-area:hover {
    border-color: #adb5bd;
    background-color: #3c4349;
}
.bg-primary{
    background-color:#8e44ad !important;
}
.btn-primary{
    background-color: #8e44ad;
    border-color:#8e44ad;
}
.btn-primary:hover{
    background-color:#9849b9;
    border-color:#9849b9;
}
.btn-primary:active{
    background-color: #8e44ad !important;
    border-color:#8e44ad !important;
}
#fileName{
    border:0
}

/*
=================================================
WYSIWYG
=================================================
*/
#editor{
    height: 100%;
    max-height: 300px;
}